<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">
    <link href="lib/ion-floating-menu/dist/ion-floating-menu.css" rel="stylesheet" type="text/css"/>

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="lib/ionic-ion-header-shrink/ionic.headerShrink.js"></script>
<script src="lib/ion-floating-menu/dist/ion-floating-menu.js" type="text/javascript"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/teste.js"></script>
  </head>
  <body ng-app="starter">
    <ion-side-menus>
    <ion-side-menu-content>
      <ion-header-bar class="bar-energized">
          <div class="buttons">
              <button class="button icon button-clear ion-navicon-round" menu-toggle="left"></button>
          </div>
        <h1 class="title">Dietas</h1>
      </ion-header-bar> 
      <ion-content header-shrink scroll-event-interval="5">
          <div style="height: 50px;"></div>
    <h1 class="titu">Bem-vindo ao Dietas Já!</h1>
    <h2 class="titu2">Aqui nós temos as dietas certa para você</h2>
    <br>
    <p class="p1">Primeiro passo é escolher uma dieta que te interessa!</p>
    <script>
    function ($scope) {
  $scope.emagrecer = false;
  $scope.engordar = false;
};
    </script>
    <div class="button-bar">
    <button class="button accent-color divider-color" ng-click="emagrecer = false; engordar = false;"><a class="secondary-text-color">Todas</a></button>
    <button class="button accent-color divider-color" ng-click="emagrecer = false; engordar = true;"><a class="secondary-text-color">Emagrecer</a></button>
    <button class="button accent-color divider-color" ng-click="emagrecer = true; engordar = false;"><a class="secondary-text-color">Massa</a></button>
    </div>
    <br>
    <br>
    <div class="list">
        <a class="item item-thumbnail-left divider-color" href="detox.html" ng-if="!emagrecer">
            <img src="detox.jpg">
            <h2>Dieta Detox</h2>
            <p>A Dieta Detox é composta de frutas, verduras, legumes, sucos e chás para purificar as células e acelerar o metabolismo e consequentemente o emagrecimento. Ela também possui baixas calorias, com poucos carboidratos e muito líquido.</p>
        </a>
        <a class="item item-thumbnail-left divider-color" href="detox.html" ng-if="!emagrecer">
            <img src="sopa.jpg">
            <h2>Dieta da Sopa</h2>
            <p>Esta dieta costuma ser utilizada pelos famosos e por muitas mulheres, principalmente perto do verão e do carnaval por ter um efeito rápido para quem tem pressa em perder aqueles quilinhos a mais incomodando.</p>
        </a>
        <a class="item item-thumbnail-left divider-color" href="detox.html" ng-if="!emagrecer">
            <img src="emagrecimento.jpg">
            <h2>Dieta do Emagrecimento</h2>
            <p>Esta dieta para emagrecer em 15 dias permite uma rápida perda de peso, podendo-se reduzir cerca de 5 Kg em apenas duas semanas e sem muito sacrifício.</p>
        </a>
        <a class="item item-thumbnail-left divider-color" href="detox.html" ng-if="!engordar">
            <img src="turbinada.jpg">
            <h2>Dieta Turbinada</h2>
            <p>Você mantém a malhação em dia, mas ainda não conquistou os músculos que queria? Aposte nessa dieta turbinada, que ajuda você a ganhar massa magra e definição.</p>
        </a>
        <a class="item item-thumbnail-left divider-color" href="detox.html" ng-if="!engordar">
            <img src="turbinada.jpg">
            <h2>Dieta para Treino</h2>
            <p>A dieta para aumentar a massa muscular se baseia em aumentar a quantidade de proteínas que se encontram em alimentos como peixe ou carne.</p>
        </a>
        <a class="item item-thumbnail-left divider-color" href="detox.html" ng-if="!engordar">
            <img src="turbinada.jpg">
            <h2>Dieta Massa magra</h2>
            <p>O ganho de massa muscular se apoia em dois pilares, o primeiro sendo a atividade fisica e o outro a alimentação.</p>
        </a>
    </div>
    </ion-content>
      </ion-side-menu-content>  
            <!-- Menu na esquerda -->
            <ion-side-menu side="left">
              <ion-list>
                 <ion-item><a class="primary-text-color" href="home.html">Home</a></ion-item>
                  <ion-item><a class="primary-text-color" href="perfil.html">Perfil</a></ion-item>
                  <ion-item><a class="primary-text-color" href="info.html">Informações</a></ion-item>
                  <ion-item><a class="primary-text-color" href="dietas.html">Dietas</a></ion-item>
                  <ion-item><a class="primary-text-color" href="sobre.html">Sobre</a></ion-item>
                  <ion-item><a class="primary-text-color" href="config.html">Configurações</a></ion-item>
              </ion-list>
            </ion-side-menu>
      </ion-side-menus>
  </body>
</html>
