/* Empty. Add your own CSS if you like */
.titu {
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
}

.titu2 {
    text-align: center;
    font-size: 15px;
}

.p1 {
    text-align: center;
    font-size: 15px;
}

.txt {
    text-align: left;
    padding-left: 25px;
    font-size: 20px;
}

.penis {
    display: block;
    margin: auto;
    width: 80%;
    height: 350px;
}

/*.genio {
    color: darkblue;
}*/

.version {
    font-style: oblique;
}

.esq {
    text-align: center;
    padding-top: 10px;
}

.text2 {
    padding-left: 20px;
    padding-right: 20px;
}

.mark {
    font-style: italic;
}

.tab-item {
color:cornflowerblue;  
}

.botaozao {
    padding-top: 300px;
}

ion-content {
  top: 0 !important;
}

/*.fontezicaaaaaa {
    color: darkblue;
    font-family: Rockwell, fantasy;
    font-size: 18px;
    font-weight: bold;
    font-variant: small-caps;
}

fontezica:link {
    color: darkblue;
}*/

ion-floating-button {
    bottom:40px;
}

.google_button {
      padding-left: 10cm;
      padding-right: 10cm;
      width: 80%;
      
  }

  .fotona{
width:100px;
height:100px;

  }

.dark-primary-color    { background: #FBC02D; }

.default-primary-color { background: #FFEB3B; }

.light-primary-color   { background: #FFF9C4; }
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.ion-navicon-round { color: white;}
.text-primary-color  { color: #212121; }

.accent-color          { background: #FFC107; }

.primary-text-color    { color: #212121; }

.secondary-text-color  { color: #757575; }

.divider-color         { border-color: #BDBDBD; }
